body, html {font-family: 'Titillium Web', sans-serif;}
html {height:100%}
body {background:#F1F1F1;min-height:100%;height:100%}
header {position:relative;overflow:hidden;}
button:focus {outline:0;}
hr {border-top:solid 1px #e4e4e4}
.hr_thin {border-top:solid 1px #e4e4e4;margin:10px 0px;}
.link_no_decoration {color:#333}
.link_no_decoration:hover {text-decoration:none}
#wait {display:none;position:fixed;/*background:rgba(100, 100, 100, 0.1);*/width:100%;height:100%;top:0%;z-index:99999;}
#wait > div {text-align:center;width:100%;position:absolute;top:40%;padding:2px;color:#444}
#wait > div > i {font-size:100px;}
.breadcrumb_category > a:hover {text-decoration:none}
/*.anchor_customer {margin-top:35px}*/

.title_h1 {margin:25px 0px 0px 0px;}
.title_h1_border {border-bottom:solid 5px #6374fb;padding-bottom:10px;}
.login_main {width:300px;margin:auto;overflow:hidden}
.login_icon {position:absolute;right:0;padding:10px 25px 10px 0px;font-size:20px;color:#888}
.input_login_div {margin:15px 0px}
.input_login {width:100%;padding:5px;font-size:18px;}
.button_login {width:100%;padding:10px;font-size:18px;background:#6374fb;color:#FFF;border:none}
.button_login:hover {background:#414da7}
.logged_as_top {text-align:right;float:right}
.search_field {float:left}

#main_container {padding-top:35px;padding-bottom:65px;overflow:hidden;position:relative;min-height:100%;}
.position_menu {background:#444;color:#000;position:fixed;bottom:0;text-align:center;border-top:solid 1px #656565;z-index:2}
.top_search {padding:5px 15px;background-color:#b8b8b8;background:linear-gradient(#f7f7f7, #b8b8b8);
background:-webkit-linear-gradient(#f7f7f7, #b8b8b8);background:-o-linear-gradient(#f7f7f7, #b8b8b8);
background:-moz-linear-gradient(#f7f7f7, #b8b8b8);
position:fixed;top:0;z-index:999}
.button_search {background:transparent;border:none}
.input_search {width:300px;}
.menu_item_container {margin:auto;display:inline-block}
.menu_item {width:100px;display:inline-block;color:#FFF;padding:5px 10px 0px 10px;position:relative;cursor:pointer}
#number_items_cart {position:absolute;right:0;top:-10px;background:red;padding:5px;background:red;padding:2px 4px;}
.menu_icon {font-size:20px;height:25px;}
.menu_text {font-size:12px;}
.separator_left {border-left:solid 1px #656565}
.separator_right {border-right:solid 1px #656565}

.breadcrumb_category {font-size:20px;margin:15px 0px}
.collapse_container {padding:15px 0px;overflow: hidden;}
.category_container {width:100%;background:#444;color:#FFF;border:none;padding:15px;text-align:left;border-bottom:solid 1px #FFF}
.icon_category {float:right;color:#FFF;font-size:14px;}
.img_category {width:100%;padding:5% 25%;margin-bottom:30px;}
.category_item {background:#FFF;border:solid 1px #EAEAEA;min-height:190px;text-align:center;margin:15px 0px;}
.category_name {min-height:60px;display:flex;justify-content:center;align-items:center;position:absolute;bottom:0;left:0}
.category_tab {padding:5px;}
.category_item_sx {border-bottom:solid 1px #656565;background:#444;padding:5px 15px;}
.category_item_sx > a {color:#FFF;}
.category_item_sx.active > a {color:red !important}
.a_category {color:#FFF}
.a_category:hover {color:#FFF;text-decoration:none}
.category_sx_container {padding:0;margin-bottom:15px;}
.container_product_category {padding:0;border:solid 1px #EAEAEA;margin-bottom:30px;min-height:200px;background:#FFF}
.container_product_orders {padding:0;border:solid 1px #EAEAEA;margin-bottom:10px;background:#FFF}
.flag_noinvoice {background:#fffc8f;margin-top:-10px;padding-top:10px;}
.occurr_product {background:#53d453;padding:0px 5px;color:#FFF;}
.left_input_search {margin-bottom:10px;}

.product_list_container_image {padding-right:0;text-align:center;}
.product_list_image {width:100%;padding:0;margin:10px 0px;max-height:150px}
.product_list_title {font-weight:600;padding-top:10px;min-height:75px;}
.product_list_title_ordered {font-weight:600;padding:10px 0px;}
.qtyred {background:red;color:#FFF;padding: 0px 5px;}
.qtyorange {background:orange;color:#FFF;padding: 0px 5px;}
.qtynormal {background:#CCC;padding: 0px 5px;}
.price_list {background:#53d453;color:#FFF;font-weight:600;padding:0px 5px;font-size:15px;}
.line_list {margin-top:10px;}
.add_to_cart_links {margin-top:10px;overflow:hidden}
.go_to_product,.open_cart {float:right;margin:0px 0px 15px 10px;padding:5px;font-size:20px;width:40px;text-align:center;cursor:pointer}
.modal-content {border-radius:0px}
.go_to_product {background:green;color:#FFF}
.open_cart {background:red;color:#FFF}
.hide_category_menu_container {background:#CCC;color:#FFF;overflow:hidden;cursor:pointer}
.hide_category_menu {float:right;padding:5px 10px;font-size:15px;}
.title_filter, #title_filter_category {width:auto;float:left;padding: 5px 20px;}

.minicart_item_modal {margin-bottom:10px;border-bottom:solid 1px #CCC;padding-bottom:5px;}
.minicart_item_image {padding:0}
.minicart_item_delete {font-size:20px;color:red;position:absolute;right:0;top:-5px;}
.last_row_mini_cart {text-align:right}
.total_mini_cart {font-size:25px;}
.minicart_delete_label {cursor:pointer;width:100%;}
.invisible_btn, .invisible_btn_cart, .invisible_btn_customers, .invisible_btn_item_list,
.invisible_btn_estimates, .invisible_btn_savedcarts, .invisible_btn_orders,
.invisible_btn_to_invoice {background:transparent;border:none}
.cart_added_msg {text-align:center}
.name_cart_popup,.image_cart_popup {padding-top:15px;}
.alert_qty {color:red;margin-top:15px;}
.increment_cart, .decrement_cart {background:#444;color:#FFF;padding:3px;text-align:center;cursor:pointer;border:none}
.icon_cart_minus_plus {width:100%}
.input_cart_field {padding:0;height:26px;}
.message_cart {margin-top:15px}

.toolbar_container_sx {background:#CCC;text-align:left;margin-bottom:15px;padding:2px 15px;height:30px;}
.toolbar_container_dx {background:#CCC;text-align:right;margin-bottom:15px;height:30px;}
.toolbar_container_dx_search {background:#CCC;text-align:right;margin-bottom:15px;padding:2px 15px;height:30px;}
.page_link_container {padding:5px 0px;float:right}
.page_link {color:#FFF;text-decoration:none;padding:5px 10px;}
.page_link:hover {color:#444;text-decoration:none;}
.active_page {background:#FFF;color:#CCC}
.label_toolbar {padding:5px;float:right}
.label_asc_desc {cursor:pointer}
.label_page_search {width:auto;float:right;padding:3px}
.no_search_results {margin:0px 0px 15px 0px;}

.button_back {border-radius:100%;padding:5px;width:32px;margin-right:10px;}
.button_back > a:hover , .button_back > a {text-decoration:none;color:#444}
.product_image_container {border:solid 1px #EAEAEA;margin-bottom:15px;background:#FFF}
.product_title {margin-top:0}
.product_price {color:green}
.icon_variation_product {color:#444;font-size:15px;margin-left:5px;}
.modal-content {color:#333}
.cart_product_container, .product_price {padding:0}
.h2_price {margin-top:0;}

.cart_label_tab {text-align:center}
.cart_label_price_tab {text-align:right}
.totals_cart_table {font-size:20px;}
.totals_cart_table_big {font-size:25px;color:green}
.totals_cart_block {text-align:right;padding:15px;border:solid 1px #EAEAEA;margin-bottom:15px;background:#FFF}
.cart_block_price_container {border-bottom:solid 1px #e4e4e4;}
.cart_block_price_container_label {margin-top:10px;}
.button_info_cart {width:40px;bottom:25px;left:10px;border-radius:100%;border:none;padding:10px;position:absolute}
.cost_info_cart {float:right;cursor:pointer}
.button_action_cart_page {width:100%;margin-top:15px;}
.orderSent {background:#b9eaad;margin:-10px 0px -10px 0px;padding:10px 0px;}
.info_cost_cart {cursor:pointer}

.error {border:solid 1px red}

.form_search_customer, .form_search_saved, #address {margin-bottom:25px;}
.button_action_customer_page {width:100%;margin-bottom:15px;}
.input_customers {margin-top:10px;}
.go_customer {font-size:20px;color:green;position:absolute;right:0;top:-5px;}
#select_customer {background:#FFF;position:absolute;width:100%;top:-24px;right:0px;z-index:1;-webkit-box-shadow: 0px 0px 8px 0px rgba(68,68,68,1);-moz-box-shadow: 0px 0px 8px 0px rgba(68,68,68,1);box-shadow: 0px 0px 8px 0px rgba(68,68,68,1);}
.label_search_cart {width:100%;padding:5px;border-bottom:solid 1px #e4e4e4;cursor:pointer}
.label_search_cart > label {cursor:pointer}

.small_label_form {font-size:12px;font-weight:normal}


/*.btn-default {background:#444;color:#FFF;border-radius:0;border:0;font-weight:300}
.btn-default:hover {background:#737373;color:#FFF}
.btn-default:focus,.btn-default:active:focus {background:#737373;color:#FFF;outline:0}*/

.effect2{position:relative;}
.effect2:before, .effect2:after {z-index:-1;position:absolute;content: "";
bottom:15px;left:10px;width:50%;top:80%;max-width:300px;background:#777;
box-shadow:0 15px 10px #777;transform: rotate(-3deg);}
.effect2:after {transform:rotate(3deg);right:10px;left:auto;}

.modal-body {overflow:hidden}
.input_modal {width:100%}

.navbar-brand-category {background:#444;text-align:center;float:left;}
#menu-toggle {text-decoration:none;float:left;color:#fff;padding:10px 10px 10px 15px;}
#wrapper {padding-left:250px;transition: all 0.4s ease 0s;}
#sidebar-wrapper {margin-left:-250px;left:250px;width:250px;height:100%;background:#444;position:absolute;
overflow-y:auto;transition: all 0.4s ease 0s;}
#wrapper.active {padding-left:0;}
#wrapper.active #sidebar-wrapper {left:0;}
#page-content-wrapper {width:100%;padding-top:70px;transition: all 0.4s ease 0s;}
.sidebar-nav {position:absolute;top:0;width:250px;list-style:none;margin:0;padding:0;}

.reordered {background-color:#b9eaad;border:none;padding:3px;}

.fixed_width_700 {min-width:700px}

.close-toggle:before {font-family:"fontAwesome";content:"\f07b";}
.open-toggle:before {font-family:"fontAwesome";content:"\f07c";}
.cat_tree_container {padding: 2px 0px;}
.cat_tree_container_second {padding:2px 0px 2px 30px}
.cat_tree_container_third {padding:2px 0px 2px 60px}

.folder_icon {cursor:pointer}
/*.cat_tree_container:hover {font-weight:bold}
.cat_tree_container_second:hover {font-weight:bold}*/

.input_add_new{width:100%;margin:5px 0px}
.input_update {width:90%;margin:5px 0px}
label.new_prod_form {margin-top:10px;}


/* left bar cambia solo per smartphone */
@media (max-width:480px) {
#wrapper {padding-left:0;transition: all 0.4s ease 0s;}
#sidebar-wrapper {margin-left:0px;left:0px;width:100%;background:#444;position:relative;overflow-y:auto;transition: all 0.4s ease 0s;}
#wrapper.active {position:relative;left:0px;}
#wrapper.active #sidebar-wrapper {left:250px;width:100%;transition: all 0.4s ease 0s;}
#menu-toggle {display:inline-block;}
.logged_as_top {display:none}
}


@media (max-width:768px) {
.menu_item {width:auto}
.position_menu {padding:0}
.container_toolbar {padding:0}
.toolbar_container_sx {margin-bottom:1px;}
.container_toolbar {margin-bottom:15px}
.product_list_container {padding:0}
}

@media (max-width:700px) {
.scrolling_x_cart {overflow:hidden;overflow-x:scroll;margin-bottom:20px;}
.fixed_width_700 {padding-right:15px}
}

@media (max-width:991px) {
.product_list_image {max-height:none}
}

